.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  row-gap: 3rem;
  max-width: 70%;
}

aside{
margin-top: 0px;
}

label {
 display: flex;
}

.menor_mayor, .mayor_menor {
 display: flex;
 gap: 5px;
 align-items: center;
}
