.usersTable {
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
}

caption {
  font-size: 2rem;
  font-weight: 700;
}

.asideUsers {
 margin-top: 48px;
 min-width: 250px;
}

table {
  width: 100%;
  /* border-collapse: collapse; Asegura que los bordes de las celdas se colapsen en uno solo */
}

/* Estilo para las celdas y encabezados de la tabla */
th,
td {
  border: 1px solid #ddd; /* Borde gris claro para las celdas */
  padding: 8px; /* Espaciado interno para texto en celdas */
  text-align: left; /* Alineación del texto a la izquierda */
}

/* Color de fondo para los encabezados de la tabla */
th {
  background-color: #6a1b9a; /* Morado oscuro */
  color: white; /* Texto en color blanco para mejor contraste */
}

thead tr:first-child {
  background-color: #a650b5;
  text-align: center;
  font-weight: bold; /* Un tono de morado ligeramente más oscuro para filas impares */
}

thead td {
 text-align: center;
}

/* Colores alternos para las filas de la tabla */
tr:nth-child(even) {
 background-color: #ce93d8; /* Un tono de morado ligeramente más oscuro para filas impares */
}

tr:nth-child(odd) {
 background-color: #e1bee7; /* Morado claro para filas pares */
}
